.section {
  display: flex;
  justify-content: center;

  .section__menu {
    margin: 2%;
  }

  
   .section__menu figure {
    position: relative;
    height: 400px;
    width: 250px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px, rgba(0, 0, 0, 0.604);
    cursor: pointer;
  }

  @media (max-width: 600px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .section__menu figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
  }

  .section__menu--foto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(161, 30, 30, 0.421);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    font-family: "Noto Sans Tamil", sans-serif;
  }

  figure:hover > .section__menu--foto {
    opacity: 1;
    visibility: visible;
  }

  figure:hover > .section__menu--foto .section__menu--p {
    margin-top: 70px;
    margin-bottom: 15px;
  }

  figure > .section__menu--foto  .section__menu--p {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
  }

  figure:hover > img {
    transform: scale(1.3);
  }

  figure > .section__menu--foto p {
    color: rgb(255, 254, 254);
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
  }

  .ulList {
    text-align: left;
    list-style-type: none;
    font-size: 15px;
  }
}



.section__grilla {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px auto auto auto;
  gap: 15px;
  padding: 5%;
  font-size: 20px;

  @media (max-width: 600px) {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }

  .grilla__subtitle {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(255, 0, 0);
  }


  .grilla__subtitle--p {
    margin: 0 10% 0 6%;
    font-size: 15px;
    text-align: left;
    font-family: "Noto Sans Tamil";

    
  }

 
  .grilla__1 {
    background-color: red;
    @media (max-width: 600px) {
      width: 50vw;
    }
  }

  .grilla__2 {
    background-color: rgb(255, 10, 10);
    @media (max-width: 600px) {
      width: 50vw;
    }
  }

  .grilla__3 {
    background-color: rgb(255, 0, 0);
    @media (max-width: 600px) {
      width: 50vw;
    }
  }

  .link{
    .link__musculacion{
      color: red;
    }
  }

  .section__titulo{
    color: red;
    font-size: 30px;
    letter-spacing: 5px;
  }

  .link__musculacion{
    display: block;
    position: relative;
    bottom: 100px;
    visibility: hidden;
  }

  .link__funcional{
    display: block;
    position: relative;
    bottom: 200px;
    visibility: hidden;
  }

  .link__box{
    display: block;
    position: relative;
    bottom: 100px;
    visibility: hidden;
  }



  .grilla__4 {
    grid-column: 1/3;

    .grilla__subtitle--p {
      text-align: left;

      @media (max-width: 600px) {
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }
  }
  
  .grilla__6 {
    grid-column: 1/3;

    .grilla__subtitle--p{
      text-align: left;

      @media (max-width: 600px) {
        text-align: center;
      }
    }
  }

  .grilla__8 {
    grid-column: 1/3;
    .grilla__subtitle--p {
      text-align: left;
      @media (max-width: 600px) {
        text-align: center;
      }
    }
  }
}



section h2 {
  font-size: 110px;
  margin-top: 5%;

  @media (max-width: 600px){
    font-size: 60px;
  }
}





.menu {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .menu__flex figure {
      position: relative;
      height: 300px;
      width: 300px;
    }
  }
}


.h1__titulo {
  font-size: 400%;
  font-weight: bolder;
  margin-top: 5%;
}



@media (max-width: 600px){

.grilla__img{
  width:50%;
  height: 60%;
  border-radius: 3%;

}


}

.span__actividades{
  background-color: red;

  @media (max-width: 600px){
    font-size: 20px;
    letter-spacing: 3px;
  }
}



a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
