.conten {
  display: grid;
  height: 40vh;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: 40px auto auto auto;
  gap: 15px;
  margin-bottom: 70%;
  font-size: 20px;

  .Mp {
    margin: 0 5% 0 6%;
    font-size: 20px;
    text-align: left;
  }

  .Mp1 {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    color: red;
  }

  .item1 {
    background-color: red;
  }

  .item2 {
    background-color: rgb(255, 10, 10);
  }

  .item3 {
    background-color: rgb(255, 0, 0);
  }

  .item4 {
    grid-column: 1/3;
  }

  .item6 {
    grid-column: 1/3;
  }

  .item8 {
    grid-column: 1/3;
  }
}

.aCt {
  font-size: 100px;
  font-weight: bolder;
  margin-top: 3%;
  color: rgb(255, 255, 255);
}

.C3 {
  position: relative;
  bottom: 200px;
  font-size: 30px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
