.fooTerHome {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 30%;
  margin: 7% 0 7% 0;

  @media (max-width: 600px) {
    display: flex;
    position: relative;
  }
}

.redesociales {
  display: flex;
  justify-content: center;
  align-items: center;

  .d1 {
    position: relative;
    bottom: 5px;
  }

  @media (max-width: 600px) {
    position: relative;
    flex-direction: column;
  }
}
