.fotoitem {
  height: 300px;
  width: 400px;

  @media (max-width: 600px) {
    width: 55%;
    height: 55%;
  }
}

.fotocafe {
  margin: 5% 0 5% 0;
}

.cafe {
  width: 100%;
}

.acTivePhoto {
  width: 20vw;
  height: 60vh;
}

@media (max-width: 600px) {
  .logomain {
    margin-left: 8%;
  }
}
