.C4 {
  font-size: 50px;
}

.Mp0 {
  font-size: 20px;
}

.loGo {
  height: 50px;
}

.alto {
  height: 50px;
  opacity: 60%;

  @media (max-width: 600px) {
    opacity: 90%;
    height: 13vh;
  }
}

@media (max-width: 600px) {
  .M2 {
    background-color: rgb(0, 0, 0);
    opacity: 100%;
  }
}
