.navbar_titulo {
  font-size: 50px;
}

.navbar__texto {
  font-size: 20px;

}

.loGo {
  height: 50px;
}

.navbar__nav {
  height: 50px;
  opacity: 60%;


  @media (max-width: 600px) {
    opacity: 90%;
    height: 13vh;
  }
}

@media (max-width: 600px) {
  .navbar__rsp {
    background-color: rgb(0, 0, 0);
    opacity: 100%;
  }
}
