@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Noto+Sans+Tamil:wght@100&family=Poppins:ital,wght@0,200;0,300;1,300&family=Staatliches&display=swap");
.C4 {
  font-size: 50px;
}

.Mp0 {
  font-size: 20px;
}

.loGo {
  height: 50px;
}

.alto {
  height: 50px;
  opacity: 60%;
}
@media (max-width: 600px) {
  .alto {
    opacity: 90%;
    height: 13vh;
  }
}

@media (max-width: 600px) {
  .M2 {
    background-color: rgb(0, 0, 0);
    opacity: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

section {
  grid-area: seccion;
}

.boton {
  grid-area: boton;
}

footer {
  grid-area: footer;
}

main {
  margin-top: 4%;
}
main p {
  font-size: 20px;
}
main h1 {
  font-size: 100px;
}
main h2 {
  font-size: 100px;
  font-weight: bold;
}

.fotoitem {
  height: 300px;
  width: 400px;
}
@media (max-width: 600px) {
  .fotoitem {
    width: 55%;
    height: 55%;
  }
}

.fotocafe {
  margin: 5% 0 5% 0;
}

.cafe {
  width: 100%;
}

.acTivePhoto {
  width: 20vw;
  height: 60vh;
}

@media (max-width: 600px) {
  .logomain {
    margin-left: 8%;
  }
}
.plan {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "pl1 pl1 " "pl2 pl3";
  color: rgb(243, 237, 237);
  font-size: 20px;
  line-height: 20px;
  margin: 0 5% 0 5%;
}

.pl1 {
  grid-area: pl1;
  margin: 10px;
  height: 50vh;
  width: 40vw;
}

.pl2 {
  grid-area: pl2;
  margin: 10px;
  height: 50vh;
  width: 40vw;
}

.pl3 {
  grid-area: pl3;
  margin: 10px;
  width: 40vw;
}

.Pl1 {
  color: red;
}

.C1 {
  color: rgb(255, 255, 255);
  background-color: red;
}

.sizeseccion {
  font-size: 60px;
}

@media (max-width: 600px) {
  .plan {
    margin-bottom: 30%;
  }
  .plan {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "pl1" "pl2" "pl3";
  }
  .pl1 {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .pl2 {
    height: 100%;
    width: 100%;
    margin-top: 30px;
  }
  .pl3 {
    height: 100%;
    width: 100%;
    margin-top: 30px;
  }
}
.A0 {
  display: flex;
  justify-content: center;
}
.A0 .A1 {
  margin: 2%;
}
.A0 .A1 figure {
  position: relative;
  height: 400px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px, rgba(0, 0, 0, 0.604);
  cursor: pointer;
}
.A0 .A1 figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.A0 .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(161, 30, 30, 0.421);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  font-family: "Noto Sans Tamil", sans-serif;
}
.A0 figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.A0 figure:hover > .capa h1 {
  margin-top: 70px;
  margin-bottom: 15px;
}
.A0 figure > .capa h1 {
  color: white;
  font-weight: 400px;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}
.A0 figure:hover > img {
  transform: scale(1.3);
}
.A0 figure > .capa p {
  color: white;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}
.A0 .ulList {
  text-align: left;
  list-style-type: none;
}

.conten {
  display: grid;
  height: 200vh;
  width: 100vw;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px auto auto auto;
  gap: 15px;
  padding: 5%;
  font-size: 20px;
}
@media (max-width: 600px) {
  .conten {
    height: 10%;
  }
}
.conten .Mp {
  margin: 0 10% 0 6%;
  font-size: 15px;
  text-align: left;
  font-family: "Noto Sans Tamil";
}
.conten .Mp1 {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: underline;
  color: red;
}
.conten .item1 {
  background-color: red;
}
@media (max-width: 600px) {
  .conten .item1 {
    width: 50vw;
  }
}
.conten .item2 {
  background-color: rgb(255, 10, 10);
}
@media (max-width: 600px) {
  .conten .item2 {
    width: 50vw;
  }
}
.conten .item3 {
  background-color: rgb(255, 0, 0);
}
@media (max-width: 600px) {
  .conten .item3 {
    width: 50vw;
  }
}
.conten .item4 {
  grid-column: 1/3;
}
.conten .item4 .Mp {
  text-align: left;
}
@media (max-width: 600px) {
  .conten .item4 .Mp {
    text-align: center;
  }
}
.conten .item6 {
  grid-column: 1/3;
}
.conten .item6 .Mp {
  text-align: left;
}
@media (max-width: 600px) {
  .conten .item6 .Mp {
    text-align: center;
  }
}
.conten .item8 {
  grid-column: 1/3;
}
.conten .item8 .Mp {
  text-align: left;
}
@media (max-width: 600px) {
  .conten .item8 .Mp {
    text-align: center;
  }
}

section h3 {
  font-size: 110px;
  margin-top: 5%;
}

.red {
  width: 40px;
  height: 40px;
  margin: 3px;
}

@media (max-width: 600px) {
  .A0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .A0 .A1 figure {
    position: relative;
    height: 300px;
    width: 300px;
  }
}

.acT2 {
  margin-top: 30%;
}

.aCt {
  font-size: 400%;
  font-weight: bolder;
  margin-top: 5%;
}

.mIx {
  color: red;
  font-size: 100px;
}

@media screen and (max-width: 600px) {
  .mIx {
    margin: 0 5% 0 5%;
  }
}

.aCt {
  color: rgb(229, 226, 226);
  letter-spacing: 10px;
}

.C3 {
  position: relative;
  bottom: 200px;
  font-size: 30px;
}
@media (max-width: 600px) {
  .C3 {
    display: flex;
    position: relative;
    left: 180px;
  }
}

@media (max-width: 600px) {
  .actividades {
    flex-direction: column;
  }
  .tOp {
    margin-top: 20%;
    text-align: center;
  }
  .conten {
    display: flex;
    flex-direction: column;
  }
  .item1 {
    width: 100vw;
  }
  .item2 {
    width: 100vw;
  }
  .item3 {
    width: 100vw;
  }
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.C2 {
  font-size: 20px;
}

footer .fooTerHome {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
footer .fooTerHome h3 {
  font-size: 20px;
}
@media (max-width: 600px) {
  footer .fooTerHome {
    margin-top: 40%;
    margin-bottom: 20%;
    flex-direction: column;
  }
}

.redesociales {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redesociales h4 {
  font-size: 20px;
}

@media (max-width: 600px) {
  .redesociales {
    display: flex;
    flex-direction: column;
  }
  .evEnto {
    margin-top: 50%;
  }
  .M1 {
    margin-top: 25%;
  }
}
.grider {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.gridnivel {
  display: flex;
  justify-content: center;
  background-color: red;
  height: 30vh;
  width: 50vw;
}

form {
  margin: 5% 0 10% 0;
}

.caFeFit {
  font-family: "Noto Sans Tamil";
  font-size: 20px;
  padding: 0 20% 0 20%;
  position: absolute;
  top: 500px;
  background-color: black;
  opacity: 80%;
}

.seccion {
  padding: 5%;
}

@media (max-width: 600px) {
  .caFeFit {
    font-family: "Noto Sans Tamil";
    font-size: 15px;
    background: none;
    position: absolute;
    top: auto;
  }
}/*# sourceMappingURL=style.css.map */