@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Noto+Sans+Tamil:wght@100&family=Poppins:ital,wght@0,200;0,300;1,300&family=Staatliches&display=swap");
.plan__stylefont {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

footer {
  background-color: rgb(0, 0, 0);
}

.navbar_titulo {
  font-size: 50px;
}

.navbar__texto {
  font-size: 20px;
}

.loGo {
  height: 50px;
}

.navbar__nav {
  height: 50px;
  opacity: 60%;
}
@media (max-width: 600px) {
  .navbar__nav {
    opacity: 90%;
    height: 13vh;
  }
}

@media (max-width: 600px) {
  .navbar__rsp {
    background-color: rgb(0, 0, 0);
    opacity: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

section {
  grid-area: seccion;
}

.boton {
  grid-area: boton;
}

footer {
  grid-area: footer;
}

p {
  font-size: 20px;
}

main {
  margin-top: 4%;
}
@media (max-width: 600px) {
  main {
    padding-top: 18%;
  }
}

.grilla__img {
  height: 300px;
  width: 400px;
}
@media (max-width: 600px) {
  .grilla__img {
    width: 55%;
    height: 55%;
  }
}

@media (max-width: 600px) {
  .logomain {
    margin-left: 8%;
  }
}
.price {
  font-size: 40px;
  font-style: italic;
}

.span__planes {
  background-color: red;
}
@media (max-width: 600px) {
  .span__planes {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

.plan__stylefont {
  font-family: "Noto Sans Tamil", sans-serif;
  font-size: 16px;
  margin: 0 5% 5% 5%;
}

.plan {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "plan__bronce plan__bronce " "plan__silver plan__gold";
  color: rgb(243, 237, 237);
  font-size: 20px;
  line-height: 20px;
  margin: 0 5% 0 5%;
}

.plan__bronce {
  grid-area: plan__bronce;
  margin: 10px;
  height: 50vh;
  width: 40vw;
}

.plan__silver {
  grid-area: plan__silver;
  margin: 10px;
  height: 50vh;
  width: 40vw;
}

.plan__gold {
  grid-area: plan__gold;
  margin: 10px;
  width: 40vw;
}

.sizeseccion {
  font-size: 60px;
}

@media (max-width: 600px) {
  .plan {
    margin-bottom: 30%;
  }
  .plan {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "plan__bronce" "plan__silver" "plan__gold";
  }
}
@media (max-width: 600px) and (max-width: 600px) {
  .plan {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .planButtom {
    margin: 10%;
  }
}
@media (max-width: 600px) {
  .plan__bronce {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .plan__silver {
    height: 100%;
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .plan__gold {
    height: 100%;
    width: 100%;
    margin-top: 30px;
  }
}
.seccion {
  padding: 5%;
}

.span__clases {
  background-color: red;
}
@media (max-width: 600px) {
  .span__clases {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

.planButtom:hover {
  background-color: rgb(255, 0, 0);
}

.planButtom:active {
  background-color: rgb(255, 255, 255);
  color: black;
}

h1 {
  font-size: 100px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
}

.section {
  display: flex;
  justify-content: center;
}
.section .section__menu {
  margin: 2%;
}
.section .section__menu figure {
  position: relative;
  height: 400px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px, rgba(0, 0, 0, 0.604);
  cursor: pointer;
}
@media (max-width: 600px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.section .section__menu figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.section .section__menu--foto {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(161, 30, 30, 0.421);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  font-family: "Noto Sans Tamil", sans-serif;
}
.section figure:hover > .section__menu--foto {
  opacity: 1;
  visibility: visible;
}
.section figure:hover > .section__menu--foto .section__menu--p {
  margin-top: 70px;
  margin-bottom: 15px;
}
.section figure > .section__menu--foto .section__menu--p {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}
.section figure:hover > img {
  transform: scale(1.3);
}
.section figure > .section__menu--foto p {
  color: rgb(255, 254, 254);
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}
.section .ulList {
  text-align: left;
  list-style-type: none;
  font-size: 15px;
}

.section__grilla {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px auto auto auto;
  gap: 15px;
  padding: 5%;
  font-size: 20px;
}
@media (max-width: 600px) {
  .section__grilla {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
}
.section__grilla .grilla__subtitle {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: underline;
  color: rgb(255, 0, 0);
}
.section__grilla .grilla__subtitle--p {
  margin: 0 10% 0 6%;
  font-size: 15px;
  text-align: left;
  font-family: "Noto Sans Tamil";
}
.section__grilla .grilla__1 {
  background-color: red;
}
@media (max-width: 600px) {
  .section__grilla .grilla__1 {
    width: 50vw;
  }
}
.section__grilla .grilla__2 {
  background-color: rgb(255, 10, 10);
}
@media (max-width: 600px) {
  .section__grilla .grilla__2 {
    width: 50vw;
  }
}
.section__grilla .grilla__3 {
  background-color: rgb(255, 0, 0);
}
@media (max-width: 600px) {
  .section__grilla .grilla__3 {
    width: 50vw;
  }
}
.section__grilla .link .link__musculacion {
  color: red;
}
.section__grilla .section__titulo {
  color: red;
  font-size: 30px;
  letter-spacing: 5px;
}
.section__grilla .link__musculacion {
  display: block;
  position: relative;
  bottom: 100px;
  visibility: hidden;
}
.section__grilla .link__funcional {
  display: block;
  position: relative;
  bottom: 200px;
  visibility: hidden;
}
.section__grilla .link__box {
  display: block;
  position: relative;
  bottom: 100px;
  visibility: hidden;
}
.section__grilla .grilla__4 {
  grid-column: 1/3;
}
.section__grilla .grilla__4 .grilla__subtitle--p {
  text-align: left;
}
@media (max-width: 600px) {
  .section__grilla .grilla__4 .grilla__subtitle--p {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
.section__grilla .grilla__6 {
  grid-column: 1/3;
}
.section__grilla .grilla__6 .grilla__subtitle--p {
  text-align: left;
}
@media (max-width: 600px) {
  .section__grilla .grilla__6 .grilla__subtitle--p {
    text-align: center;
  }
}
.section__grilla .grilla__8 {
  grid-column: 1/3;
}
.section__grilla .grilla__8 .grilla__subtitle--p {
  text-align: left;
}
@media (max-width: 600px) {
  .section__grilla .grilla__8 .grilla__subtitle--p {
    text-align: center;
  }
}

section h2 {
  font-size: 110px;
  margin-top: 5%;
}
@media (max-width: 600px) {
  section h2 {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .menu .menu__flex figure {
    position: relative;
    height: 300px;
    width: 300px;
  }
}

.h1__titulo {
  font-size: 400%;
  font-weight: bolder;
  margin-top: 5%;
}

@media (max-width: 600px) {
  .grilla__img {
    width: 50%;
    height: 60%;
    border-radius: 3%;
  }
}
.span__actividades {
  background-color: red;
}
@media (max-width: 600px) {
  .span__actividades {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

form {
  padding: 5%;
}

.span__subtitulo {
  background-color: red;
}
@media (max-width: 600px) {
  .span__subtitulo {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

.img__text {
  font-family: "Noto Sans Tamil";
  font-size: 20px;
  padding: 0 20% 0 20%;
}

@media (max-width: 600px) {
  .img__text {
    font-family: "bebas neue";
    font-size: 12px;
  }
  .img__text--evento {
    font-family: "bebas neue";
    font-size: 10px;
    color: red;
  }
}
.span__cafe {
  background-color: red;
}
@media (max-width: 600px) {
  .span__cafe {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

.img__margin {
  margin: 5% 0 5% 0;
}

.img__cafe {
  width: 90%;
}

.footer {
  margin: 5% 0 10% 0;
  height: 20vh;
  display: flex;
  justify-content: space-around;
}
.footer p {
  position: relative;
  top: 20px;
  font-size: 18px;
  line-height: 1px;
  font-weight: lighter;
}

@media (max-width: 600px) {
  .footer {
    height: 60vh;
    flex-direction: column;
    background: #e00b0b;
    letter-spacing: 5px;
    border-radius: 3%;
    margin: 4%;
    font-weight: bolder;
  }
  .footer div {
    height: 30%;
  }
}
.footer__redsocial {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__redsocial .footer__icon {
  width: 40px;
  height: 40px;
  margin: 3px;
}

@media (max-width: 600px) {
  section p {
    margin: 0 5% 0 5%;
    font-size: 15px;
  }
  .footer__grilla {
    margin-top: 20%;
  }
}/*# sourceMappingURL=style.css.map */